* {
    padding: 0;
    margin: 0;
    list-style: none;
}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("../image/login.svg") no-repeat top left 100%;
}


#content {
   position: relative;
   width: 400px;
   height: 60vh;
   margin-top: auto;
   margin-bottom: auto;
   padding: 30px;
   margin: 6rem auto;
   background: #FCFBFA;
   border-radius: 8px;

}

#content .acc-form, #content .pass-form{
   margin-top: 10px;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   padding: 15px;
   width: 90%;
   border: solid 1px black;
   font-size: 16px;
   border-radius: 5px;
}  

.log {
   margin-bottom: 20px;
   font-size: 35px;
   text-align: center;

}

.error {
   /* background: #F2DEDE; */
   background: #e7d2c8;

   color: red;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

   text-align: center;
}
.submit {
   position: relative;
   left: 50%;
   margin-top: 30px;
   transform: translateX(-50%);
   padding: 10px 20px;
   background-color: #6A9D67;
   color: white;
   font-size: 20px;
   width: 98%;
   border-radius: 10px;
}

.form-label {
   margin-top: 20px;
   font-size: 20px;
   line-height: 1.5;
   padding: 10px;
}


.s2 {
   margin-top: 15px;
}


.need-help {
   position: absolute;
   font-size: 20px;
   color: #BB501C;
   bottom: 10%;
   left: 50%;
   transform: translateX(-50%);
}

@media (min-width: 481px) {
   
}
@media (max-width: 480px) {
   #content {
       width: 100vw;
       box-sizing: border-box;
   }
   
   
}