* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background: url("../background-img/a.jpg") no-repeat top center ;
}

.row {
    width: 100%;
    display: inline-block;
}
:root {
    --header-color: linear-gradient(90deg, azure, rgb(65, 65, 143));
}
.clear {
    clear: both;
}

.admin-login {
    position: relative;
    float: right;
    z-index: 2;
}
.admin-login .admin-login-button {
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    font-size: 30px;
}
.admin-login-button:hover {
    cursor: pointer;
}
.user-login {
    padding: 30px;
    position: fixed;
    width: 100%;
    top: 25%;
    z-index: 2;
    align-self: center;
    align-items: center;
}
.id-login {
    margin: auto;
    padding: 6px 20px;
    line-height: 1.5;
    font-size: large;
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(254, 254, 254, 0.5);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    border-color: white;
    border-radius: 20px 20px 20px 20px;
    align-self: center;
    align-items: center;
    display: block;
}

.user-login-button {
    padding: 5px 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(254, 254, 254, 0.5);
    font-size: larger;
    background-color: rgb(0, 0, 0, 1);
    text-align: center;
    border-color: white;
    border-radius: 20px 20px 20px 20px;
}

.user-login-button:hover {
    cursor: pointer;
}
