body {
    background-size: 40px 40px;
    background-color: #8dc9f7; 
}

:root {
    --black1: #322f26;

}

*{
    color: var(--black1);
}

#startDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    padding: 10px;
    width: 50%;
    height: 50%;
}
#headerDiv {
    height: 12%;
    font-size: 2.7rem;
    text-align: center;
    background-color: #f8c323;
    border-radius: 5px;
    padding-left: 5%;
    border: 2px solid var(--black1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
}

#bodyDiv {
    height: 90%;
    border: 2px solid var(--black1);
    background-color: #FCF9E9;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.customBtnR {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 2.2rem;
}

.customBtnL {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 2.2rem;
}

#aQuestion {
    margin-top: 5%;
    width: 70%;
 
}

.question {
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 2.2rem;
    background: #f8c323;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
    border: 2px solid var(--black1);
    color: var(--black1);
    
}
.answer {
    
    border: 2px solid var(--black1);
    background-color: #FCF9E9;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;  

}

.answer .choice {
    word-wrap: break-word;
    border-radius: 5px;
    margin: 2% 5%;
}

h5 {
    font-size: 2.2rem;
}

label {
    font-size: 1.8rem;
}

#mark {
    font-size: 2.5rem;
    color: var(--black1);
}

#btnFinish {
    font-size: 2.2rem;
}

#signIn {  
    display: block;  
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signIn label {
    font-size: 2rem;   
}

a {
    text-decoration: none;
    color: white;
}