body {
    height: 100vh;
    width: 100wh;
    background: url("../background-img/view.jpg") top left 100%;
    background-position: center;
    background-size: cover;
}

.ctable tbody tr td {
    word-wrap: break-word;
    word-break: break-all;  
    white-space: normal !important;
    text-align: justify;
    vertical-align: middle;
}
.ctable {
    text-align: center;
    background-color: #3cb4e7;
    color: black;
    border-radius: 10px;

}

a {
    text-decoration: none;
}

#direction {
 margin-top: 2%;
}